< h1>This is home  page </h>
<p> To make the git work, you have to notice these points

1. when 'git config' , you must make the email the same as the git register email
2. then you should ssh-keygen and copy to github
3. git remote add origin git@github.com:richardbiz2000/Testapp
3. the git push -u origin master

	 
</p>

 <%=link_to 'About', 'about_path' %>
 <%=link_to 'Contact','contact_path' %>
